@import url("../../../Under.css");
body {
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../../../../COMMON/BG/BG_common2.gif);
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.style2 {font-family: "Wii NTLG PGothic JPN Regular"}
.style3 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 20px;
	line-height: 48px;
	color: #666666;
}
.style4 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 60px;
	color: #FFFFFF;
}
