@import url("../../../Under.css");
body {
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../../../../COMMON/BG/BG_common2.gif);
}
a:link {
}
a:visited {
}
a:hover {
}
a:active {
}
.style2 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 19px;
	color: #666666;
	line-height: 48px;
}
.style5 {color: #999999}
