.List_Check {
	font-family: "FOT-ƒƒ_ƒ“NTLG Pro DB";
	font-size: 24px;
	color: #333333;
	background-repeat: no-repeat;
	background-position: center center;
	height: 96px;
	width: 560px;
	line-height: 96px;
	text-indent: 60px;
}
