body {
	background-repeat: repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../../../../COMMON/BG/BG_common_M.gif);
}
.style1 {
	color: #FFFFFF;
	font-family: "Wii NTLG Gothic Latin Regular", "Wii NTLG PGothic Latin Regular";
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.Rating_waku {
	color: #FFFFFF;
	background-repeat: repeat;
	background-position: center center;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
}
#ListDW {
	position:absolute;
	left:528px;
	top:216px;
	width:72px;
	height:72px;
	
}
#ListUP {
	position:absolute;
	left:528px;
	top:8px;
	width:72px;
	height:72px;
}
#List01 {
	position:absolute;
	left:24px;
	top:21px;
	width:496px;
	height:256px;
	z-index:2;
}
#List01Check {
	position:absolute;
	left:35px;
	top:102px;
	width:96px;
	height:96px;
	visibility: hidden;
	z-index:1;
}
.style9 {font-size: 18px}
.style10 {
	font-size: 20px;
	font-weight: bold;
}
table#Rating {
	position:absolute;
	top:21px;
}
